/* RESET CSS */
* {
  box-sizing: border-box;
}

body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "DM Sans", sans-serif;
  background: #181818;
  color: #fefbfb;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  background-size: cover;
}

button,
input {
  border: 0;
}
button:focus,
input:focus {
  border: 0;
}

h1,
h2,
h3 {
  font-size: 1.2rem;
}
/* Header */

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: #212121;
}

header .menu {
  display: flex;
  gap: 1rem;
}

header .menu .item a {
  transition: 0.3s;
  position: relative;
}

header .menu .item a:hover {
  color: #554bff;
  transition: color 0.3s;
}

/* pseudo elements */
header .menu .item a::after {
  content: "";
  display: flex;
  width: 0%;
  height: 0.125rem;
  background: #554bff;
  margin: 0.5rem auto;
  position: absolute;
  left: 0;
  transition: width 0.3s;
}

header .menu .item a:hover::after {
  width: 100%;
}

/* intro */

.container-intro {
  display: flex;
  align-items: center;
  padding: 2rem;
  justify-content: center;
}

.container-text {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding: 1rem;
}

.container-text p {
  font-size: 0.85rem;
}

.buttons-container {
  display: flex;
  gap: 1rem;
}

.container-text button {
  width: 5rem;
  height: 2rem;
  background-color: #554bff;
  text-align: center;
  font-size: 0.6rem;
}

.container-text button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.container-image {
  max-width: 15rem;
  padding: 1rem;
}

/* About */

.container-about {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 1rem;
  margin: 3rem auto;
}

.container-about h1 {
  margin-bottom: 0.75rem;
}

.container-about h1:after {
  content: "";
  display: flex;

  width: 4rem;
  height: 0.15rem;
  background: #554bff;
  margin: 0.2rem auto;
}

.container-about p {
  letter-spacing: 0.025rem;
}

/* Services */

.container-services-skills {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.container-services {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}
.container-services h1 {
  margin: 0 auto;
}

.services {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 1rem;
  gap: 1rem;
}

.service {
  background-color: #212121;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-bottom: 0.15rem solid #554bff;
}

.service img {
  align-self: center;
  max-width: 3rem;
  filter: invert(100%);
}

/* Skills */
.container-services-skills {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  margin: 1rem auto;
  align-items: center;
  justify-content: center;
}

.container-skills {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  margin: 1rem auto;
}

.container-skills h1 {
  margin: 0 auto;
}

.skills {
  display: flex;
  margin: 0 auto;
  gap: 1rem;
}

.container-skills .skill {
  background-color: #212121;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-bottom: 0.15rem solid #554bff;
}

.container-skills img {
  align-self: center;
  max-width: 3rem;
  filter: invert(100%);
}

/* projects */

.container-projects h1 {
  text-align: center;
  margin: 2rem auto;
}

.list-projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}

.item-project {
  max-width: 15rem;
  max-height: auto;
  padding: 1rem;
  background-color: #212121;
}

.item-project:hover {
  cursor: pointer;
  transform: scale(1.1); /* Equal to scaleX(0.7) scaleY(0.7) */
}

.item-project span a {
  color: #554bff;
}

/* Contacts */

.container-contacts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
}

.container-contacts h1 {
  align-self: center;
  text-align: center;
  margin: 1rem auto;
}

.contacts ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  margin: 1rem auto;
}

.contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: #212121;
  border: 0.15rem solid #554bff;
  max-width: 18rem;
  max-height: 20rem;
  padding: 1rem;
}

.contact li h3 {
  align-self: center;
}

.contact img {
  width: 3rem;
  height: 3rem;
  align-self: center;
  filter: invert(100%);
}

.contacts li span {
  font-size: 1rem;
}

.contacts li span:hover,
.contacts li span a:hover {
  transition: all 0.5s;
  transform: scale(1.05);
  color: #554bff;
  cursor: pointer;
}

/* footer and arrow */

footer h2 {
  margin: auto;
  text-align: center;
  background-color: #212121;
  padding: 1rem;
}

.arrow-up {
  background-color: #202020;
  padding: 1rem;
  font-size: 0.7rem;
  clip-path: circle();
  line-height: 0;

  position: fixed;
  right: 1rem;
  bottom: 1rem;

  transition: background-color 0.5s;
  visibility: hidden;
  opacity: 0;

  transition: 0.3s;
  transform: translateX(100%);
}

.arrow-up.show {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.arrow-up::after {
  content: "";
  color: #5429cf;
}

/* Modal */

.modal-container {
  height: 100vh;
  width: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  background: rgba(0, 0, 0, 0.5);
}

.modal {
  background: #212121;
  padding: 4rem;
  border: 10px solid #554bff;

  position: relative;
  width: 40rem;
}

.close {
  position: absolute;
  font-size: 1.2rem;
  top: -10px;
  right: -10px;
  width: 30px;
  height: 30px;
  border: 4px solid #fefbfb;
  border-radius: 50%;
  background: #554bff;
  cursor: pointer;
}

.modal h1 {
  font-size: 4rem;
  font-weight: bold;
}

.modal label {
  font-family: "DM Sans", sans-serif;
  display: block;
  font-weight: bold;
  margin: 1rem auto;
  font-size: 1.5rem;
}
.modal #msg {
  width: 25rem;
  height: 10rem;
}

.modal input {
  width: 70%;
  padding: 0.7rem 0.5rem;
  box-sizing: border-box;
}

.modal button[type="submit"] {
  display: block;
  background: #554bff;
  border: none;
  border-radius: 4px;
  margin-top: 2rem;
  padding: 0.7rem 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.modal-container.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

/************************************* responsive ******************************/

@media (min-width: 585px) {
  h1,
  h2,
  h3 {
    font-size: 2.4rem;
  }

  p,
  .item a {
    font-size: 1.5rem;
  }

  /* header */
  header .menu {
    display: flex;
    gap: 5rem;
  }

  .container-intro {
    margin: 0 auto;
    gap: 5rem;
  }

  /* intro */
  .container-text {
    gap: 2rem;
  }

  .container-text p {
    font-size: 1.6rem;
  }

  .container-text button {
    width: 12rem;
    height: 5rem;
    font-size: 1.5rem;
  }
  .container-text button:hover {
    transform: scale(1.1);
  }

  .container-image {
    max-width: 40rem;
    padding: 2rem;
  }

  /* about */
  .container-about {
    padding: 2rem;
    margin: 10rem auto;
    max-width: 50rem;
    max-height: auto;
  }

  .about {
    padding: 1rem;
  }

  .container-about h1 {
    margin-bottom: 1rem;
  }

  .container-about h1:after {
    width: 5rem;
    height: 0.3rem;
    margin: 0.1rem auto;
  }

  .container-about p {
    letter-spacing: 0.05rem;
  }

  /* services */
  .container-services-skills {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    margin: 0 auto;
    justify-content: center;
  }

  .container-skills,
  .container-services {
    margin: 1rem auto;
    gap: 5rem;
  }

  .services,
  .skills {
    gap: 5rem;
  }

  .service {
    border-bottom: 0.3rem solid #554bff;
  }
  .container-skills .skill {
    border-bottom: 0.3rem solid #554bff;
  }

  .service img {
    max-width: 6rem;
  }
  .container-skills img {
    max-width: 6rem;
  }

  /* projects */
  .container-projects {
    padding: 5rem;
    margin: 5rem auto;
  }

  .container-projects h1 {
    text-align: center;
    margin: 5rem auto;
  }

  .list-projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, 50rem);
    grid-auto-rows: auto;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
  }
  .item-project:hover {
    cursor: pointer;
    transform: scale(1.05); /* Equal to scaleX(0.7) scaleY(0.7) */
  }

  .item-project {
    height: 20rem;
    max-width: 40rem;
    max-height: 30rem;
    min-width: 29rem;
    align-self: center;
    justify-self: center;
    padding: 2rem;
    background-color: #212121;
  }

  .item-project h2 {
    margin-bottom: 1rem;
  }

  .item-project span a {
    font-size: 1.6rem;
  }

  /* contacts */

  .container-contacts {
    margin: 10rem 0 10rem 0;
  }

  .contacts ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    margin: 2rem auto;
  }

  .contact {
    max-width: 22rem;
    max-height: 20rem;
    padding: 1rem;
  }

  .contact a,
  .contact p {
    font-size: 1.3rem;
  }

  .contact li h3 {
    align-self: center;
  }

  .contact img {
    width: 4rem;
    height: 4rem;
    align-self: center;
    filter: invert(100%);
  }

  /* footer */

  footer h2 {
    padding: 3rem;
  }
  /* arrow */

  .arrow-up {
    background-color: #202020;
    padding: 2rem;
    font-size: 1.2rem;
    clip-path: circle();
    line-height: 0;

    position: fixed;
    right: 1rem;
    bottom: 1rem;

    transition: background-color 0.5s;
    visibility: hidden;
    opacity: 0;

    transition: 0.3s;
    transform: translateX(100%);
  }

  .arrow-up:hover {
    background-color: #554bff;
  }

  /* Modal */

  .modal-container {
    height: 100vh;
    width: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    background: rgba(0, 0, 0, 0.5);
  }

  .modal {
    background: #212121;
    padding: 4rem;
    border: 10px solid #554bff;

    position: relative;
    width: 60rem;
  }

  .close {
    position: absolute;
    font-size: 1.2rem;
    top: -30px;
    right: -30px;
    width: 50px;
    height: 50px;
    border: 4px solid #fefbfb;
    border-radius: 50%;
    background: #554bff;
    cursor: pointer;
  }

  .modal h1 {
    font-size: 4rem;
    font-weight: bold;
  }

  .modal label {
    font-family: "DM Sans", sans-serif;
    display: block;
    font-weight: bold;
    margin: 1rem auto;
    font-size: 1.5rem;
  }

  .modal input {
    width: 70%;
    padding: 0.7rem 0.5rem;
    box-sizing: border-box;
  }

  .modal button[type="submit"] {
    display: block;
    background: #554bff;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    padding: 0.7rem 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }

  .modal #msg {
    width: 50rem;
    height: 15rem;
  }

  .modal-container.active {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
